body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .title {
      flex: 100% 1;
      text-align: center;
  }

  .request {
      flex: 4;
  }

  .search {
      flex: 1;
  }

  table {
      flex: 100% 1;
  }

  .poster {
      width: 100px;
      height: 150px;

      img {
          width: 100%;
          height: 100%;
      }
  }
}
